* {
  font-family: cursive;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  color: #a74d4d;
  font-style: bold;
  text-align: center;
}

h2 {
  color: #c87777;
}

h3 {
  color: #d88484;
}

h4 {
  color: #d88484;
}

li {
  margin-left: 16px;
}

body {
  background-image: linear-gradient(to bottom, #f3b4b4, #a74d4d);
  padding: 16px;
}

main {
  background-color: aliceblue;
  width: auto;
  border-radius: 15px;
  padding: 15px;
  margin: auto;
  width: 100%;
  max-width: 1200px;
}

section {
  padding: 16px;
}

img {
  height: 300px;
  width: 275px;
  border-radius: 15px;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 450px;
  border: 1px solid #f1f1f1;
  display: inline-block;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  display: inline-block;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  border-radius: 15px;
  padding: 16px;
}

.flip-card-back {
  background-color: #f3b4b4;
  color: rgb(18, 17, 17);
  transform: rotateY(180deg);
  border-radius: 15px;
  text-align: center;
  display: flex;
  align-items: center;
  padding: 20px;
}

.restaurant-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 20px;
}

.restaurant-left,
.restaurant-right {
  width: 40%;
  text-align: center;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2), -5px -5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 20px;
}

.rest.img {
  width: 400px;
}

.rest img {
  width: 100%;
  height: auto;
  display: block;
}

@media (max-width: 768px) {
  .restaurant-container {
    flex-direction: column;
    align-items: center;
  }

  .restaurant-left,
  .restaurant-right,
  .rest.img {
    width: 100%;
  }

  .restaurant-left,
  .restaurant-right {
    order: 1;
  }

  .rest.img {
    order: 2;
  }
}

.container {
  display: flex;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.turist-places {
  text-align: center;
  width: 40%;
  height: auto;
  padding: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2), -5px -5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  display: inline-block;
  gap: 20px;
}

.turist-img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .turist-places {
    width: 100%;
  }
}

.lista {
  text-align: left;
}
